{% extends "Pages/base.html" %}
{% load static %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-8MQmEFtjxMWtQHrL3AT/N8/+lWvy9ANXS7HNYRtFpENa8EosFtntx2tTVr/DqHJz8W/h9XvvvOWtR1JhqkGrVw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
  .cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
    border: none;
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }

  .cart-icon {
    margin-right: 0.5rem;
  }

  .cart-count {
    display: inline-block;
    margin-left: 0.25rem;
    padding: 0.25rem;
    background-color: #333;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 50%;
  }

  .slider-container {
    height: 100%;
    overflow: hidden;
  }

  .slide {
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }

  input[type="radio"]:checked+label+.p-3 {
    transform: translateY(0);
  }

  .p-3 {
    transform: translateY(100%);
  }

  .circle-link {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 10%;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
  }

  .circle-link:active {
    background-color: red;
  }
</style>


<div class="container my-5" id="langingpage">

  <div class="row">
    <div class="col-md-7  ">
      <div class="card shadow">
        <div class="card-body">
          <h6 class="text-center">Delivery Address</h6>
          <hr>
          {% for item in adds %}
          <div class="slider-container mt-2 my-0 p-0 shadow border ">
            <input type="radio" id="customRadioInline{{ forloop.counter }}" name="customRadioInline"
              class="custom-control-input" {% if forloop.first %}checked{% endif %}>
            <label class="custom-control-label w-100" for="customRadioInline{{ forloop.counter }}">
              <div>
                <div class="p-2 bg-white rounded shadow-sm w-100">
                  <div class="d-flex align-items-center mb-2">
                    <p class="mb-0 h6">{{item.first_name}} &nbsp;{{item.last_name}}&nbsp;&nbsp;{{item.phone}}</p>
                    <p class="mb-0 badge badge-success ml-auto"></p>
                  </div>
                  <p class="small text-muted m-0">{{item.address}},{{item.city}}</p>
                  <p class="small text-muted m-0">{{item.state}}-{{item.pincode}}</p>
                  <p class="pt-2 m-0 text-right">
                    {% if item.defaults == False %}
                    <span class="small ml-3"><a href="{% url 'default_set' item.id %}" class="circle-link"></a></span>
                    {% else %}
                    <span class="small ml-3">Default</span>
                    {% endif %}
                  </p>
                </div>
              </div>
            </label>
          </div>
          {% endfor %}
          <div class="container-fluid mt-3 d-flex justify-content-center align-items-center shadow p-2 pb-3">
            <span class="small"><a href="#" data-toggle="modal" data-target="#addAddress"
                class="text-decoration-none text-primary"><i class="icofont icofont-add"></i>+ Add
                Address</a></span>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card shadow">
        <div class="card-body">
          <h6>Order Summary</h6>
          <hr>
          {% if cartItemS %}
          <table class="table table-stripeds table-bordereds">
            <thead>
              <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cartItemS %}
              <tr>
                <td>
                  {{item.products.name}}
                </td>
                <td>{{item.product_qty}}</td>
                <td>{{item.products.selling_price}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if cart_obj.coupon_id == None%}
          <div class="card-body" id="coupon_form" >

            <!-- ----------------------coupon start --------------------------- -->
            <form>
              {% csrf_token %}
              <div class="form-group">
                <label for="">Have Coupon?</label>
                <div class="input-group">
                  <input type="text" name="coupon" class="form-control" id="coupon_name_id">
                  <span class="input-group-append">
                    <button type="submit" class="btn btn-primary">Apply</button>
                  </span>
                </div>
              </div>
            </form>
            <center >
              <p id="cop" style="color: rgb(255, 13, 0);"></p>
            </center>
             <!-- ----------------------coupon end --------------------------- -->
          </div>
          {% endif %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{message.tags}} {% endif %} " role="alert">
            {{message}}
          </div>
          {% endfor %}
          {% endif %}
          <!-- ----------------------------wallet start----------------------------------- -->
          <!-- <form>
            <label>
              <h6><i class="fa fa-google-wallet"></i> Wallet Balance: {{total_wallet_amount}}</h6>
              &nbsp;
              <input type="checkbox" name="use-wallet" id="use-wallet" class="product-checkbox">
              Apply wallet balance
            </label>
            <br>
          </form> -->
          <!-- ----------------------------wallet end----------------------------------- -->
          <div id="payment-form">
            <form>
              {% csrf_token %}
              <!-- --------------------------wallet start --------------------------------- -->
              <label class="mb-3">
                <h6><i class="fa fa-google-wallet"></i> Wallet Balance: <b id="total_s">{{total_wallet_amount}}</b></h6>
                &nbsp;
                <input type="checkbox" name="wallet" id="use-wallet" class="product-checkbox" value="Wallet">
                Apply wallet balance
              </label>
              <br>
<!-- --------------------------wallet end --------------------------------- -->
              <h6 class="font-weight-bold d-flex justify-content-between">
                <span>Subtotal</span>
                <span>Rs {{total_price}}</span>
              </h6>
              <h6 class="font-weight-bold d-flex justify-content-between">
                <span>Total</span>
                <span id="total_am">Rs {{total_price}}</span>
              </h6>
              <div class="mt-3">
                {% comment %} <button type="button" class="btn btn-primary paywithrazorpay w-100 mt-1">Pay with
                  Razorpay</button> {% endcomment %}
              </div>

              <center>
                
                <label class="mr-5">
                  <input type="radio" name="payment-method" id="codSelect" value="cod">
                  Cash on delivery
                </label>

                <label class="mr-5">
                  <input type="radio" name="payment-method" id="razorpaySelect" value="razorpay">
                  Razorpay
                </label>

                <button type="submit" class="btn btn-success w-100 mt-3"> Place Order</button>

              </center>
              {% else %}
              <h4>Out of Stock </h4>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="modal fade" id="addAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <form action="{% url 'checkout_add_address' %}" method="POST">
          {% csrf_token %}
          <div class="card shadow">
            <div class="card-body">
              <h4 class="text-center text-primary">Add Address</h4>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <label for="First Name">First Name</label>
                  <input type="text" name="first_name" class="form-control" placeholder="Enter First Name" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required title="Please enter a valid name (letters, spaces, and hyphens only)">

                </div>
                <div class="col-md-6">
                  <label for="First Name">Last Name</label>
                  <input type="text" required class="form-control" name="last_name" placeholder="Enter Last Name" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
                </div>
                <div class="col-md-6 mt-2">
                  <label for="email">Email</label>
                  <input type="email" required class="form-control" name="email" placeholder="Enter Email" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
                </div>
                <div class="col-md-6 mt-2">
                  <label for="Phone">Phone</label>
                  <input type="tel" required class="form-control" name="phone" placeholder="Enter Phone" pattern="^\(?([0-9]{3})\)?[-.]?([0-9]{3})[-.]?([0-9]{4})$">
                </div>
                <div class="col-md-12 mt-2">
                  <label for="Address">Address</label>
                  <textarea type="text" required class="form-control" name="address"
                    placeholder="Enter Address"></textarea>
                </div>
                <div class="col-md-6 mt-2">
                  <label for="city">City</label>
                  <input type="text" required class="form-control" name="city" placeholder="Enter City" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$">
                </div>
                <div class="col-md-6 mt-2">
                  <label for="State">State</label>
                  <input type="text" required class="form-control" name="state" placeholder="Enter State" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$">

                </div>
                <div class="col-md-6 mt-2">
                  <label for="Country">Country</label>
                  <input type="text" required class="form-control" name="country" placeholder="Enter Country" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$">
                </div>
                <div class="col-md-6 mt-2">
                  <label for="Pin Code">Pin Code</label>
                  <input type="text" required class="form-control" name="pincode" placeholder="Enter Pin Code" pattern="^\d{6}$">
                </div>
                <button type="submit" class="btn btn-success w-100  mt-3 ">Submit</button>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
var total_price = 0; 
var total_wallet_amount = 0
var coupon_code = 0
$(document).ready(function () {
  $.ajax({
    method: "GET",
    url: "{% url 'proceed_to_pay' %}",
    success: function (response) {
      total_price = response.total_price
      $("#total_am").text(total_price);
    }
  });
});

$(document).on('submit', '#coupon_form form', function(event) {
  event.preventDefault();
  var coupon_name = $('#coupon_name_id').val();
  var token = $('input[name=csrfmiddlewaretoken]').val();
  console.log(coupon_name);
  $.ajax({
    method: "POST",
    url: "{% url 'coupon_discount' %}",
    data: {
      'couponValue':coupon_name,
      'csrfmiddlewaretoken': token
    },
    success: function (response) {
      total_price = response.total_price
      coupon_code = response.coupon_num
      console.log(response.message)
      $("#cop").text(response.message)
      $("#total_am").text(total_price);

    }
  });
});



  var total_wallet_amount = {{ total_wallet_amount }};
  if ( total_wallet_amount == 0.00 ){
    let checkbox_stat = document.getElementsByClassName('product-checkbox');
    for (let i = 0; i < checkbox_stat.length; i++) {
        checkbox_stat[i].disabled = true;
    }
  }

  $('.product-checkbox').change(function () {
    var checkbox_status = $(this).prop('checked') ? 'checked' : 'unchecked';
    var razorpaySelect = document.getElementById('razorpaySelect')
    var codSelect = document.getElementById('codSelect')
    // Check if the wallet amount is less than the total price
    if (checkbox_status === 'checked') {
      if (total_wallet_amount >= total_price) {

        razorpaySelect.disabled = true;
        codSelect.disabled = true;

      } else {
        razorpaySelect.disabled = false;
        codSelect.disabled = false;
        let total_amount_for_payment =total_price-total_wallet_amount
        $("#total_am").text(total_amount_for_payment);
        
      }
    }else if ( checkbox_status === 'unchecked'){
      razorpaySelect.disabled = false;
      codSelect.disabled = false;
      $("#total_am").text(total_price);

    }
  });

  $(document).on('submit', '#payment-form form', function (event) {
    event.preventDefault();
    var checkbox_status = $('.product-checkbox').prop('checked') ? 'checked' : 'unchecked';
    var paymentMethod = $('input[name="payment-method"]:checked').val();
    var wallet_p = $('input[name="wallet"]:checked').val();
    

    if (paymentMethod === 'razorpay' && checkbox_status === 'unchecked') {
      $.ajax({
        method: 'GET',
        url: '{% url "proceed_to_pay" %}',
        success: function (response) {
          var options = {
            'key': 'rzp_test_dyw9PplCmeK8VH', // Enter the Key ID generated from the Dashboard
            'amount': total_price * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            'currency': 'INR',
            'name': 'The Green', // Your business name
            'description': 'Thank you for buying from us',
            // This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            'handler': function (responsev) {
              var token = $('input[name=csrfmiddlewaretoken]').val();
              var datas = {
                'payment_mode': 'Razorpay',
                'payment_id': responsev.razorpay_payment_id,
                'coupon_name':coupon_code,
                'csrfmiddlewaretoken': token
              }
              $.ajax({
                method: 'POST',
                url: '{% url "placeorder" %}',
                data: datas,
                success: function (res) {
                  swal('Congratulations!', res.product_id, 'success').then((value) => {
                    window.location.href = '{% url "my_orders" %}'
                  });
                }
              });
            },
            'prefill': {
              'name': '{{ user_address.first_name }}' + ' ' + '{{ user_address.last_name }}', // Your customer's name
              'email': '{{ user_address.email }}',
              'contact': '{{ user_address.phone }}'
            },
            'theme': {
              'color': '#3399cc'
            }
          };
          var rzp1 = new Razorpay(options);
          rzp1.open();
        }
      });
    } else if (paymentMethod === 'cod' && checkbox_status === 'unchecked' ) {

      $.ajax({
        url: '{% url "placeorder" %}',
        type: 'POST',
        data: { 'payment_mode': 'COD','coupon_name':coupon_code,'csrfmiddlewaretoken': '{{ csrf_token }}' },
        success: function (responsofcod) {
          swal('Congratulations!').then((value) => {
            window.location.href = '{% url "my_orders" %}'
          });
        }
      });
    } else if (wallet_p === 'Wallet') {
      // let total_price_ = {{ total_price }};
      // let total_wallet_amount_ = {{ total_wallet_amount }};

      if (total_wallet_amount >= total_price) {
        $.ajax({
        url: '{% url "placeorder" %}',
        type: 'POST',
        data: { 'payment_mode': 'Wallet',
        'coupon_name':coupon_code,
        'csrfmiddlewaretoken': '{{ csrf_token }}' },
        success: function (responsofcod) {
          swal('Congratulations!').then((value) => {
            window.location.href = '{% url "my_orders" %}'
          });
        }
        });
      }else if (checkbox_status == 'checked' && paymentMethod === 'cod'){
        $.ajax({
        url: '{% url "placeorder" %}',
        type: 'POST',
        data: { 'payment_mode': 'COD+Wallet','coupon_name':coupon_code, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        success: function (responsofcod) {
          swal('Congratulations!').then((value) => {
            window.location.href = '{% url "my_orders" %}'
          });
        }
        });
      }else if (checkbox_status == 'checked' && paymentMethod === 'razorpay'){
        $.ajax({
        method: 'GET',
        url: '{% url "proceed_to_pay" %}',
        success: function (response) {
          var options = {
            'key': 'rzp_test_dyw9PplCmeK8VH', // Enter the Key ID generated from the Dashboard
            'amount': total_price * 100 -total_wallet_amount*100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            'currency': 'INR',
            'name': 'The Green', // Your business name
            'description': 'Thank you for buying from us',
            // This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            'handler': function (responsev) {
              var token = $('input[name=csrfmiddlewaretoken]').val();
              var datas = {
                'payment_mode': 'Razorpay+Wallet',
                'payment_id': responsev.razorpay_payment_id,
                'coupon_name':coupon_code,
                'csrfmiddlewaretoken': token
              }
              $.ajax({
                method: 'POST',
                url: '{% url "placeorder" %}',
                data: datas,
                success: function (res) {
                  swal('Congratulations!',responsev.razorpay_payment_id,'success').then((value) => {
                    window.location.href = '{% url "my_orders" %}'
                  });
                }
              });
            },
            'prefill': {
              'name': '{{ user_address.first_name }}' + ' ' + '{{ user_address.last_name }}', // Your customer's name
              'email': '{{ user_address.email }}',
              'contact': '{{ user_address.phone }}'
            },
            'theme': {
              'color': '#3399cc'
            }
          };
          var rzp1 = new Razorpay(options);
          rzp1.open();
        }
      });
      }
    }else  {
    
    }
  });



</script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"
  integrity="sha512-N2wvUbCryiKjNRU6CzU6n1U6xjK6X3YwwL58rVrKjTAgZivV7cxdMNL86G6s46uRHfM22V7bysKjPfS7wOaZ1Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}" type="cb9055d60da94e014ea7493c-text/javascript"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"
  type="cb9055d60da94e014ea7493c-text/javascript"></script>

<script type="cb9055d60da94e014ea7493c-text/javascript" src="{% static 'vendor/slick/slick.min.js' %}"></script>

<script type="cb9055d60da94e014ea7493c-text/javascript"
  src="{% static 'vendor/sidebar/hc-offcanvas-nav.js' %}"></script>

<script src="{% static 'js/osahan.js' %}" type="cb9055d60da94e014ea7493c-text/javascript"></script>
<script src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %}"
  data-cf-settings="cb9055d60da94e014ea7493c-|49" defer=""></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
  integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
  data-cf-beacon='{"rayId":"79728174a9c83228","version":"2022.11.3","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}'
  crossorigin="anonymous"></script>

<!-- Mirrored from askbootstrap.com/preview/vegishop/product_details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 10 Feb 2023 05:40:18 GMT -->

{% endblock content %}